body {
    font-family: Arial, Helvetica, sans-serif;
}
  /* Style the header */
header {
    background-color: #004d40;
    color: white;
    font-size: 45px;
    height: 250px;
    width: 100%;
    padding-top: 20px;
}

.container {
  margin: 50px;
}

.card-title-header {
  padding-top: 50px;
    font-size: 75px;
}

.card-title {
  margin-top: 100px;
  font-size: 45px;
}

p {
  color: black;
}

img {
    height: 200px;
    width: 300px;
    float: left;
    padding: 25px;
}

a {
  background-color: #004d40;
  font-size: 20px;
  padding: 5px;
}

.nav-pills {
  background-color: #004d40;
  font-size: 16px;
  padding: 10px;
}

.nav-link {
    background-color: #004d40;
  color: white;
} 

/* Create two columns/boxes that floats next to each other */
nav {
  width: 100%;
  background-color: #004d40;
  margin-bottom: 30px;
} 

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 6px;
}

Clear floats after the columns
section:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the footer */
footer {
    background-color: #004d40;
    text-align: center;
    color: white;
    font-size: 16px;
}
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, footer, header {
      width: 100%;
      height: auto;
    }
  }

  @media (max-height: 250px) {
    nav, footer, heade, body {
      width: 100%;
      height: auto;
    }
  }

  /* // landscape phones, 576px and up) */
@media (min-width: 576px) {     
  nav, footer, header, body{
    padding: 0px;
} }

/* // tablets, 768px and up) */
@media (min-width: 768px) {     
  nav, footer, header, body{
        padding: 0px;
} }

/* desktops, 992px and up) */
@media (min-width: 992px) { 
  nav, footer, header, body {
        padding: 0px;
    }
 }

/* // large desktops, 1200px and up) */
@media (min-width: 1200px) {     
  nav, footer, header, body {
        padding: 0px;
}}

/**
 * Relative Position: sets boxes relative to its original location
 * (i.e. below or left of where the element would normally be)
 **/

 .box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.box {
  /* relative positioning */
  position: relative;
  width: 150px;
  height: 150px;
  background: #2db34a;
  border: 2px solid black;
}

.box-1 {
  top: 20px;
}

.box-2 {
  left: 40px;
}

.box-3 {
  right: 20px;
  bottom: -10px;
}