

/* .container {
    background-color: #004d40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: left;
    } */

/* h1, h2, h3 {
    margin: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #004d40;
    color: white;   
} */

/* div {
padding: 5px 5px 5px 5px;
background-color: #bcaaa4 ;
} */




/* // landscape phones, 576px and up) */
@media (min-width: 576px) {     
    body header {
    padding: 0px;
} }

/* // tablets, 768px and up) */
@media (min-width: 768px) {     
    body header {
    padding: 0px;
} }

/* desktops, 992px and up) */
@media (min-width: 992px) { 
    body header {
        padding: 0px;
    }
 }

/* // large desktops, 1200px and up) */
@media (min-width: 1200px) {     
    body header  {
    padding: 0px;
} }