
body {
    background-color: #004d40;
    background-size: cover;
}

.container {
    background-color: #004d40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: left;
    } 

    div {
padding: 5px 5px 5px 5px;
background-color: #bcaaa4 ;
} 

.card {
    color:   #004d40;
    font-weight: bold;
}

label {
    font-weight: bolder;
    margin-left: 40px;
    padding: 0%;
    text-align: right;
    }



tbody tr th td{
    width: 800px;
}

.card-title {
    font-size: 45px;
    color: #004d40;
    background-color:  white;
    padding: 10px;
    text-align: left;
    font-weight: bolder;
}

.card-header {
    color: #004d40;
    background-color:  white;
}

.nav-link {
    font-size: 25px;
    color: #004d40;
}

/* h1, h2, h3 {
    margin: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #004d40;
    color: white;   
} */


/* // landscape phones, 576px and up) */
@media (min-width: 576px) {     
    body header .container{
    padding: 0px;
} }

/* // tablets, 768px and up) */
@media (min-width: 768px) {     
    body header .container{
        padding: 0px;
} }

/* desktops, 992px and up) */
@media (min-width: 992px) { 
    body header .container{
        padding: 0px;
    }
 }

/* // large desktops, 1200px and up) */
@media (min-width: 1200px) {     
    body header .container{
        padding: 0px;
} }